<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de inscritos</title>
</head>
<body>
    <h1>Lista de Inscritos</h1>
    <a href="{{url_for('inscritos')}}">Nuevo</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Turno</th>
            <th>Seminarios</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        {% for item in inscritos %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.fecha}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.apellidos}}</td>
            <td>{{item.turno}}</td>
            <td>{{item.seminarios}}</td>  <!-- Cambiar aquí para mostrar los seminarios -->
            <td><a href="{{url_for('editarlist', id=item.id)}}">Editar</a></td>
            <td>
                <form action="{{url_for('eliminar', id=item.id)}}" method="POST">
                    <input type="submit" value="Eliminar">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
